*
{
    box-sizing: border-box;
}

.parent
{
    background-color: crimson;
    height: 45vh;
    width: 45vw;
    border-radius: 25px;
    padding: 20px;
}

p
{
    text-align: center;
    color: lightyellow;
}